﻿<div class="footer-cont">
	<div class="footer">
		<div class="inner-container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-mobile">
					<div class="about-site">
 						<h3 data-translate="">aboutGeodata</h3>
						<p data-translate="">aboutGeodataportal&nbsp;</p>
						<!-- <img alt="" src="/link/787c79ac42e74b269f116ea3bdcd7f2e.aspx" width="200" height="31"> -->
						<p data-translate="">aboutLm&nbsp;</p>
						<p>
						<p>
						<img src="../../catalog/views/swe/images/footer-ruler.png"></p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-mobile">

					<div class="site-map">
						<h3>snabblänkar</h3>
						<!-- <p class="special-border-bottom">&nbsp;</p> -->
						<ul>
							<li><a href="mailto:support@geodata.se" title="Länk till kontakta oss" target="_top" data-translate="">contact</a></li>
							<li><a href="https://www.lantmateriet.se/sv/geodata/Geodataportalen/" title="Länk till frågor och svar" target="_top"data-translate="">questionsAnswer</a></li>
<!-- 							<li><a href="https://www.geodata.se/senaste/prenumerera-via-rss/" title="RSS" target="_top">RSS</a></li>  -->
						</ul>
					</div>

				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

					<div class="geodata-contact">
 						<h3>Lantmäteriet</h3>
						<!-- <p class="special-border-bottom">&nbsp;</p> -->
						<p class="clfx">
							<br>Lantmäteriet,
							<br>Lantmäterigatan 2C
							<br>80182 Gävle 
							<br>Telefon: 0771-63 63 63
							<br>E-post: <a href="mailto:support@geodata.se">support@geodata.se</a>
							<br><a href="https://www.lantmateriet.se" title="Webbplatsen lantmateriet.se" target="_top">www.lantmateriet.se</a></li>
						</p>
					</div>

				</div>
			</div>
		</div>
		
	</div>
</div>
