<div class="header-cont" data-ng-style="{'top':(!showCookieWarning)?'0px':'90px'}">

  <div class="header-left-cont">
    <a href="https://www.lantmateriet.se/sv/Om-Lantmateriet/Om-oss/Vart-samordningsansvar/" target="_blank" class="logo">
      <img src="../../catalog/views/swe/images/LM_logotyp_webb.png">
    </a>
  </div>

  <div class="header-middle-cont clearfix">
    <a href="" data-swe-show-dialog="" data-dialog="#mail-popup" data-focus-control="#inputName" class="header-leave-comment header-text">
      <span class="text hidden-xs hidden-sm" data-translate="">leaveComment</span>
    </a>
<!--     <div class="dropdown-cont other-geodata-cont" data-swe-toggle-style="">
      <div class="-label"></span>
        <span class="hidden-xs hidden-sm" data-translate="">otherGeodata</span><span class="icon-down-dir"></span>
      </div>
      <ul class="-list">
        <li><a class="-text-link" target="_blank" href="http://www.kartverket.no/Kart/Gratis-kartdata/WMS-tjenester/">
              <span data-translate="">norwegianMetadata</span>
            </a>
        </li>
      </ul>
    </div> -->
	<!-- <swe-geo-technics-filter data-config-url="{{geotechnicsUrl}}" data-show-map-fn="showFullMapPanel"></swe-geo-technics-filter> -->
    <a data-ng-show="!authenticated && service !== 'catalog.signin'" data-ng-keypress="$event" href="../../login" class="header-login header-text">
    <span class="hidden-xs hidden-sm" data-translate="">forPublishers</span>
    </a>

    <a data-swe-show-dialog="" data-dialog="#newmetadata-popup" data-ng-show="authenticated" href="" class="header-login header-text login-popup-link">
    <span class="hidden-xs hidden-sm" data-translate="">createMetadata-menu</span>
    </a>

    <a data-ng-show="authenticated" href="catalog.edit" class="header-admin header-text">
    <span class="hidden-xs hidden-sm" data-translate="">administrationMenu</span>
    </a>

    <a data-ng-show="authenticated" href="/AGLogout" class="header-logout header-text">
    <span class="hidden-xs hidden-sm" data-translate="">logout</span>
    </a>
    
    <div class="dropdown-cont other-geodata-cont" data-swe-toggle-style="">
      <div class="-label"></span>
        <span class="hidden-xs hidden-sm" data-translate="">Help</span><span class="icon-down-dir"></span>
      </div>
      <ul class="-list">
        <li><a class="-text-link" target="_blank" href="https://www.lantmateriet.se/sv/forstasidan">
              <span data-translate="">searchHelp</span>
            </a>
        </li>
        <li><a class="-text-link" target="_blank" href="https://www.lantmateriet.se/sv/forstasidan/for-publicerare">
              <span data-translate="">publisherHelp</span>
            </a>
        </li>
        <li><a class="-text-link" target="_blank" href="https://play.quickchannel.com/play/5y6z7r5"> 
              <span data-translate="">videoOverview</span>
            </a>
        </li>
        <li><a class="-text-link" target="_blank" href="https://secure.quickchannel.com/qc/?id=j5a5v4">
              <span data-translate="">videoResults</span>
            </a>
        </li>
        <li><a class="-text-link" target="_blank" href="https://secure.quickchannel.com/qc/?id=9tqtfu">
              <span data-translate="">videoMap</span>
            </a>
        </li>
        <li><a class="-text-link" target="_blank" href="https://secure.quickchannel.com/qc/?id=ac2w71">
              <span data-translate="">videoAdvancedView</span>
            </a>
        </li>
      </ul>
    </div>
  </div>

<!--   <div class="header-right-cont">
    <a href="" class="header-menu header-text">
      <span data-translate="">menu</span>
    </a>
  </div> -->
</div>
